<section class="c-home-section c-home-section--newsletter">
	<h2 class="c-home-section__heading">Newsletter</h2>
	<p class="c-home-section__sub-heading">An occassional mailout of interesting bits and pieces I've found on the internet.</p>
	<div class="tinyletter-form__wrapper">
		<form id="tinyletter-form" action="https://tinyletter.com/fallowmedia" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/fallowmedia', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
			<p class="tinyletter-form__label">
				<label for="tlemail">Enter your email address: </label>
			</p>
			<p>
				<input class="text-input tinyletter-form__text-input" type="text" name="email" id="tlemail" />
			</p>
			<input type="hidden" value="1" name="embed" />
			<input class="button tinyletter-form__button" type="submit" value="Subscribe" />
			<p class="tinyletter-form__label tinyletter-form__link">
				<a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a>
			</p>
		</form>
	</div>
</section>