<section class="c-home-section">
	<h2 class="c-home-section__heading">Projects</h2>
	<p class="c-home-section__sub-heading">Case studies of interesting work I've been doing recently.</p>
	<div class="c-home-section__body c-home-section__body--two-col">
		<div class="c-home__project">
			<div class="c-home__project__image-wrapper">
				<img class="c-home__project__image" src="images/ov2.svg" />
			</div>
			<div class="c-home__project__text-wrapper">
				<h3 class="c-home__project__title">The Stinging Fly</h3>
				<p class="c-home__project__description">A brand-new website for Ireland’s leading literary journal, including the full digitisation of their twenty-year archive.</p>
			</div>
		</div>
		<div class="c-home__project">
			<div class="c-home__project__image-wrapper">
				<img class="c-home__project__image" src="images/ov3.svg" />
			</div>
			<div class="c-home__project__text-wrapper">
				<h3 class="c-home__project__title">Fallow Media</h3>
				<p class="c-home__project__description">One-of-a-kind online projects, collected under the banner of an experimental digital publication.</p>
			</div>
		</div>
		<div class="c-home__project">
			<div class="c-home__project__image-wrapper">
				<img class="c-home__project__image" src="images/ov1.svg" />
			</div>
			<div class="c-home__project__text-wrapper">
				<h3 class="c-home__project__title">Response To A Request</h3>
				<p class="c-home__project__description">An adventure in art criticism: twenty-six images, twenty-six essays, two weeks each in existence.</p>
			</div>
		</div>
	</div>
	<a class="c-home__button" href="/projects/">More Projects</a>
</section>