<div class="c-site-search">
  <form class="c-site-search__form" role="search" method="post" action="/search/">
    <script>
      (function() {
        var cx = '002137092263056971046:1pa77qx9aka';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </form>
</div>