*, *:before, *:after
  box-sizing: border-box

html
  font-size: 16px

body
  background-color: $background-dark
  font-family: $serif
  color: $secondary
  max-width: 100vw
  overflow-x: hidden

.bck
  background-image: radial-gradient(ellipse closest-side, lighten($background-dark, 4%) 0%, $background-dark 100%)
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  pointer-events: none
  z-index: -1
  will-change: transform


section
  margin: 4rem 0

h1, h2, h3, h4, h5, h6
  color: $secondary

h2 
  font-size: 2.5rem

hr 
  display: block
  height: 1px
  border: 0
  border-top: 1px solid $highlight
  margin: 1em 0
  padding: 0

p
  margin: 16px 0
  +type-setting(1.4rem, $serif, $secondary)
  font-weight: 200
  a 
    color: $highlight
    text-decoration: none
    &:hover, &:active
      color: $secondary
      text-decoration: none
      text-decoration-skip-ink: auto
  @media (max-width: 600px)
    font-size: 1.2rem

a
  color: $highlight
  text-decoration: none
  cursor: pointer
  &:hover, &:active
    color: $secondary
    text-decoration: none
    text-decoration-skip-ink: auto



ul, ol
  margin: 15px 0
  padding-left: 30px

li 
  +type-setting(1rem, $serif)
  margin-left: -30px
  margin-bottom: 8px
  padding-bottom: 8px
  border-bottom: 1px solid $spacer


ul
  list-style-type: none


ol
  list-style-type: decimal


ol ul, ul ol, ul ul, ol ol
  margin: 0


ul ul, ol ul
  list-style-type: circle


em, i
  font-style: italic


strong, b
  font-weight: bold


img
  max-width: 100%


::-moz-selection
  color: $black
  background: $secondary

::selection
  color: $black
  background: $secondary