//
// Grid Wrapper
//
.grid-wrapper
  width: 100vw
  display: grid 
  grid-template-columns: repeat(12, 1fr)
  grid-gap: 10px
  padding: 0
  margin: 5vh auto

//
// .masthead
//
.c-masthead
  grid-column: 2 / 12
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-gap: 10px


//
// .main
//
#main
  grid-column: 1 / 13
  grid-row-start: 2
  padding: 0
  margin-top: 3vh
  display: grid
  grid-template-columns: repeat(12, 1fr)

.c-home-section
  grid-column: 1 / 13
  padding: 0
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-gap: 10px



.c-home-section__heading
  grid-column: 1 / 6
  border-bottom: 1px solid $highlight
  font-style: italic
  padding-bottom: 10px
  margin-bottom: 20px
  padding-left: calc(100vw / 24)

.c-home-section__sub-heading
  grid-column: 1 / 5
  font-style: italic
  padding-left: calc(100vw / 24)
  margin-top: -10px
  margin-bottom: 20px
  +type-setting(1.3rem)

.c-home-section__body
  grid-column: 3 / 11

.c-home-section__body--single-col
  p 
    max-width: calc(100vw / 12 * 5)
    min-width: 300px
    margin-left: auto
    margin-right: auto

.c-home-section__body--two-col
  grid-column: 3 / 11

.wrapper-footer
  grid-column: 1 / 4
  @media (min-width: 768px)
    display: block
    position: fixed
    width: calc(20vw - 30px)
    height: 80px
    bottom: 23px
    right: 10px
    border-top: 1px solid $spacer

footer
  padding: 20px 10px
  width: 100%
  text-align: right
  display: flex
  align-items: center
  justify-content: flex-end
  @media (min-width: 768px)
    justify-content: flex-start
    padding: 20px 0
  h3
    display: inline-block
    color: $black
    font-size: 12px
    font-weight: bold
    margin-right: 20px
    margin-top: -12px
  .c-footer__svg-icons
    display: inline-block
    svg
      height: 30px
      width: 30px
      fill: $black
      &:hover
        fill: $secondary
