//
// .masthead
//

.c-masthead--wrapper
  margin: 20px 0 0 285px
  height: 180px


.c-masthead
  @include max-six-forty
    text-align: center

.wrapper-sidebar
  position: fixed
  width: 285px

//
// .main
//
#main
  width: 58vw
  max-width: 830px
  margin: 15px 0 0 285px
  padding-left: 10px



.wrapper-footer
  margin-top: 50px
  margin-left: 285px
  border-top: 1px solid c('spacer')
  width: 58vw
  max-width: 830px


footer
  padding: 20px 0
  width: 100%
  text-align: right
  display: flex
  align-items: center
  justify-content: flex-end
  h3
    display: inline-block
    color: c('black')
    font-size: 12px
    font-weight: bold
    margin-right: 20px
    margin-top: -12px
  .c-footer__svg-icons
    display: inline-block
    svg
      height: 30px
      width: 30px
      fill: c('black')
      &:hover
        fill: c('secondary')
