//
// Grid Wrapper
//
.grid-wrapper
  width: 100vw
  display: grid 
  grid-template-columns: 1fr 3fr 1fr
  grid-template-rows: repeat(auto-fill, minmax(80px, 1fr))
  grid-gap: 10px


//
// .masthead
//
.c-masthead
  grid-column: 1 / 4
  grid-row: 1 / 2
  display: grid
  grid-template-columns: 1fr 3fr 1fr
  grid-gap: 10px
  border-bottom: 1px solid c('spacer')
  margin: 0 10px
  @media (min-width: 768px)
    grid-column: 1 / 2
    grid-template-columns: 1fr
    grid-row-start: 3
    height: calc(100vh - 80px)
    width: calc(20vw - 20px)
    padding-right: 10px
    position: fixed
    top: 100px

//
// .main
//
#main
  grid-column: 1 / 4
  grid-row-start: 2
  padding: 0 10px
  @media (min-width: 768px)
    grid-column: 2 / 3
    grid-row-start: 2
    padding: 0 0 0 0



.wrapper-footer
  grid-column: 1 / 4
  @media (min-width: 768px)
    display: block
    position: fixed
    width: calc(20vw - 30px)
    height: 80px
    bottom: 23px
    right: 10px
    border-top: 1px solid c('spacer')


footer
  padding: 20px 10px
  width: 100%
  text-align: right
  display: flex
  align-items: center
  justify-content: flex-end
  @media (min-width: 768px)
    justify-content: flex-start
    padding: 20px 0
  h3
    display: inline-block
    color: c('black')
    font-size: 12px
    font-weight: bold
    margin-right: 20px
    margin-top: -12px
  .c-footer__svg-icons
    display: inline-block
    svg
      height: 30px
      width: 30px
      fill: c('black')
      &:hover
        fill: c('secondary')
