// Mobile breakpoints
@mixin max-six-forty
  @media screen and (max-width: 640px)
    @content

@mixin min-six-forty
  @media screen and (min-width: 640px)
    @content

@mixin max-nine-sixty
  @media screen and (max-width : 991px)
    @content

@mixin min-nine-sixty
  @media screen and (min-width : 991px)
    @content

@mixin min-twelve-eighty
  @media screen and (min-width : 1280px)
    @content

// Colour Palette
$white: #fff 
$black: #222 
$secondary: #95989A 
$highlight: #FBC702 
$background-dark: #0f191f
$spacer: rgba(0,0,0,0.1)


//
//
// Type-Setting Mixins //
//
//

// Fonts
$system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$serif: 'adobe-caslon-pro', $system
$sans: Helvetica, $system

// Type-Setting Mixin
@mixin type-setting($size, $family: $serif, $color: $secondary)
  font-size: $size
  line-height: calc(#{$size} * 1.6)
  font-family: $family
  color: $color


// Animation Vars
$easing: cubic-bezier(0.25, 0.46, 0.45, 0.94)