.c-masthead__nav
  padding: 3px 0
  a
    font-family: $sans
    font-size: 0.9rem
    letter-spacing: 1px
    color: c('primary')
    padding: 5px 25px
    display: inline-block
    @media (max-width: 767px)
      margin-top: 5px
      border-left: 1px solid c('spacer')
      &:first-of-type
        border-left: none
        padding-left: 0
    @media (min-width: 768px)
      display: block
      padding: 5px 0
    &:hover
      color: c('highlight')
    &.active
      color: c('highlight')