.c-masthead__text
  grid-column: 1 / 6

.c-masthead__text--small
  font-style: italic
  padding: 1.5rem 0
  &:last-child
    padding-bottom: 3.5rem
    border-bottom: 1px solid $highlight

.c-masthead__text--large
  font-size: 3.3rem
  letter-spacing: 2px

.c-masthead__image
  grid-column: 8 / 11