.c-post
  padding-bottom: 20px
  blockquote
    margin: 1.8em .8em
    border-left: 2px solid c('spacer')
    padding: 0.1em 1em
    color: c('secondary')
    font-style: italic

.c-post__header
  border-top: 1px solid c('spacer')
  border-bottom: 1px solid c('spacer')

.c-post__header__date
  font-family: $sans
  font-size: 12px
  font-weight: bold
  padding: 8px 0

.c-post__header__title
  font-size: 1rem
  font-weight: bold
  line-height: 1.4rem
  padding-bottom: 8px
  h1
    color: c('black')
    font-family: $serif
  a
    font-family: $serif
    color: c('black')
    &:hover
      color: c('secondary')

.c-post__content
  margin-top: $baseline
  font-size: 1rem
  max-width: 700px

.read-more
  text-transform: uppercase
  font-size: 12px
  font-family: $sans
  font-weight: bold
  color: c('secondary')
  &:hover
    color: c('black')