.c-sidebar
  display: none
  @media (min-width: 768px)
    display: block
    position: fixed
    width: calc(20vw - 20px)
    bottom: 80px
    right: 0

.c-sidebar__title
  font-family: $sans
  font-size: 12px
  color: c('secondary')
  padding: 6px 0

.c-sidebar__recent-posts-list
  list-style-type: none
  font-family: $sans
  font-weight: bold
  overflow-y: scroll
  max-height: calc(100vh - 220px)
  padding: 2px 0 0
  margin-bottom: 10px

.c-sidebar__recent-post
  //height: 80px
  display: block
  margin-left: 0
  border-bottom: none
  &:before
    content: ''
    position: relative
    display: block
    top: -1px
    left: 0
    width: 20px
    height: 1px
    background-color: c('spacer')
  a
    color: c('black')
    padding: 6px 35px 0 0
    min-height: 46px
    word-break: break-word
    display: block
    font-size: 12px
    &:hover
      color: c('secondary')
