.c-site-info
  grid-column: 1 / 2
  padding: 5px 0
  color: $black
  cursor: pointer
  font-family: $sans
  font-size: 1.4rem
  font-weight: bold
  letter-spacing: 0.5px
  border-bottom: 1px solid $spacer
  @media (min-width: 768px)
    border: none
    border-top: 1px solid $spacer
  a
    color: $black
    &:hover
      color: $highlight