<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="grid-wrapper">
        <header class="c-masthead">

          <h1 class="c-site-info"><a href="{{ site.baseurl }}/"><span class="c-site-info__name">Ian </span><span class="c-site-info__name">Maleney</span></a></h1>        

          <nav class="c-masthead__nav">
            {% for link in site.data.nav %}
            <a class="c-masthead__nav--link {% if page.title == link.title %} active {% endif %}" href="{{ site.baseurl }}{{ link.href }}">{{ link.title }}</a>
            {% endfor %}
          </nav>
        </header>
        <main id="main">
          {{ content }}
        </main>
    </div> 
  </body>
</html>
