<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700" rel="stylesheet"> -->
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="grid-wrapper">
        <header class="c-masthead">

          <h1 class="c-site-info"><a href="{{ site.baseurl }}/"><span class="c-site-info__name">Ian </span><span class="c-site-info__name">Maleney</span></a></h1>        

          <nav class="c-masthead__nav">
            {% for link in site.data.nav %}
            <a class="c-masthead__nav--link {% if page.title == link.title %} active {% endif %}" href="{{ site.baseurl }}{{ link.href }}">{{ link.title }}</a>
            {% endfor %}
          </nav>
        </header>
        <main id="main">
          {{ content }}
        </main>
    </div>

    {% include search.html %}
    <script>

      var blog_menu_items = document.querySelectorAll(".blog-menu__item");
      var blog_menu_posts = document.querySelector(".blog-menu__item--posts");
      var blog_menu_photos = document.querySelector(".blog-menu__item--photos");
      var blog_menu_links = document.querySelector(".blog-menu__item--links");
      var blog_sections = document.querySelectorAll(".blog_section");

      blog_menu_posts.addEventListener("click", function(){
        for(var i = 0; i < blog_sections.length; i++) {
          blog_sections[i].classList.remove("visible");
          blog_menu_items[i].classList.remove("active");
        }
        blog_sections[0].classList.add("visible");
        this.classList.add("active");
      });

      blog_menu_photos.addEventListener("click", function(){
        for(var i = 0; i < blog_sections.length; i++) {
          blog_sections[i].classList.remove("visible");
          blog_menu_items[i].classList.remove("active");
        }
        blog_sections[1].classList.add("visible");
        this.classList.add("active");
      });

      blog_menu_links.addEventListener("click", function(){
        for(var i = 0; i < blog_sections.length; i++) {
          blog_sections[i].classList.remove("visible");
          blog_menu_items[i].classList.remove("active");
        }
        blog_sections[2].classList.add("visible");
        this.classList.add("active");
      });

    </script>
    <script defer>

      document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
          var searchbar = document.querySelector("#gsc-i-id1");
          var searchButton = document.querySelector("input.gsc-search-button");
          var searchToggle = document.querySelector(".c-site-info__search-button");
          var siteSearch = document.querySelector(".c-site-search");
          searchbar.placeholder = "Search...";
          searchButton.type = "Submit";
          searchToggle.addEventListener("click", function() {
            siteSearch.classList.toggle("c-site-search--visible");
          });

        }, 1000);
      });
    </script>

    
  </body>
</html>
