<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}

  <body>
    <div class="bck"></div>
    <div class="grid-wrapper">
      <header class="c-masthead">
        <div class="c-masthead__text">
          <p class="c-masthead__text--small">My name is</p>
          <p class="c-masthead__text--large">Ian Maleney</p>
          <p class="c-masthead__text--small">I’m a writer, editor and web developer living in Dublin, Ireland.</p>
        </div>
        <div class="c-masthead__image">
          {% include svg/me2.svg %}
        </div>

      </header>
      <main id="main">
        {{ content }}
        <!--{% include homepage/projects.html %}-->
        {% include homepage/publications.html %} {% include homepage/newsletter.html %} {% include homepage/notes.html %} {% include
        homepage/contact.html %}
      </main>
    </div>
    <script>
      const paths = Array.from(document.querySelectorAll("#profile-svg g path"));

      var increment = function () {
        var i = 0;
        var visible = setInterval(function () {
          paths[i].classList.add("visible");
          if (i < 499) {
            i++;
          } else {
            clearInterval(visible);
          }
        }, 10);
      };

      document.addEventListener("DOMContentLoaded", increment);

    </script> {% include typekit.html %} {% include sw.html %}
  </body>

</html>