<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <!--<div class="bck"></div>-->
    <div class="grid-wrapper">
        <header class="c-masthead">
          <div class="c-masthead__text">
            <p class="c-masthead__text--small">My name is</p> 
            <p class="c-masthead__text--large">Ian Maleney</p>
            <p class="c-masthead__text--small">I’m a writer, editor and web developer living in Dublin, Ireland.</p>
          </div>
          <div class="c-masthead__image">
            <img src="images/profile-photo.svg" />
          </div>

        </header>
        <main id="main">
          {{ content }}
        </main>
    </div>
    {% include sw.html %}
  </body>
</html>
