<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="index-list page">
	<div class="grid-wrapper">
		<header class="c-masthead c-masthead--page">

			<nav class="c-nav--secondary">
				{% for link in site.data.nav %}
				<a class="c-nav--secondary__link {% if page.title == link.title %} active {% endif %}" href="{{ site.baseurl }}{{ link.href }}">{{ link.title }}</a>
				{% endfor %}
			</nav>
			<a href="/" class="c-masthead__site-title">Ian Maleney</a>
		</header>
		<main id="main">
			{{ content }}
		</main>
	</div>
	{% include typekit.html %} {% include sw.html %}
</body>

</html>